<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment Section</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <h1>Entertainment Section</h1>
    </header>
    <main>
        <div>
            <input id="searchInput" placeholder="Search articles"/>
            <button onclick="searchArticles()">Search</button>
            <button id="subscribeButton" onclick="toggleSubscription('entertainment')" class="hidden"></button>
        </div>
        <div id="articles"></div>
        <div id="chatSection" class="hidden">
            <h2>Live Chat</h2>
            <div id="chat"></div>
            <input id="chatInput" placeholder="Type a message"/>
            <button onclick="sendMessage()">Send</button>
        </div>
    </main>

    <script>
        const client = new Paho.MQTT.Client('broker.hivemq.com', 8000, 'clientId-' + Math.random().toString(16).substr(2, 8));
        const chatTopic = 'projektProtokoly/chat/entertainment';
        const notificationTopic = 'projektProtokoly/notifications/entertainment';
        let username = 'Anonymous User';
        let user = null;
        const channel = 'entertainment';

        function scrollToBottom() {
            const chatDiv = document.getElementById('chat');
            chatDiv.scrollTop = chatDiv.scrollHeight;
        }

        client.onMessageArrived = function(message) {
            const chatDiv = document.getElementById('chat');
            const msg = JSON.parse(message.payloadString);
            const msgElement = document.createElement('div');
            msgElement.classList.add('message');
            if (msg.username === username) {
                msgElement.classList.add('self');
            }
            msgElement.innerHTML = `<span class="username">${msg.username}:</span><span class="text">${msg.text}</span>`;
            chatDiv.appendChild(msgElement);
            scrollToBottom();
        };

        client.connect({ onSuccess: function() {
            console.log('Connected to MQTT broker');
            client.subscribe(chatTopic);
        }});

        function sendMessage() {
            const text = document.getElementById('chatInput').value;
            const message = JSON.stringify({ username, text });
            const mqttMessage = new Paho.MQTT.Message(message);
            mqttMessage.destinationName = chatTopic;
            client.send(mqttMessage);
            document.getElementById('chatInput').value = '';
        }

        document.addEventListener('DOMContentLoaded', function() {
            fetch('/api/user', {
                method: 'GET',
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                if (data.username) {
                    user = data;
                    username = data.username;
                    console.log('Username set to:', username);
                    document.getElementById('chatSection').classList.remove('hidden');
                    document.getElementById('subscribeButton').classList.remove('hidden');
                    updateSubscriptionButton('entertainment');
                }
            })
            .catch(error => console.error('Error:', error));
            fetchArticles();
        });

        function fetchArticles(query = '') {
            fetch(`/api/articles/entertainment?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    const articlesDiv = document.getElementById('articles');
                    articlesDiv.innerHTML = '';
                    data.forEach(article => {
                        const articleElement = document.createElement('article');
                        articleElement.innerHTML = `<h2><a href="/article/${article.id}">${article.title}</a></h2><p>${article.content}</p><p class="date">Published on: ${new Date(article.date_created).toLocaleDateString()}</p><p>Author: ${article.author}</p>`;
                        articlesDiv.appendChild(articleElement);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function searchArticles() {
            const query = document.getElementById('searchInput').value;
            fetchArticles(query);
        }

        async function toggleSubscription(channel) {
            try {
                const response = await fetch('/api/subscriptions', {
                    method: 'GET',
                    credentials: 'include'
                });

                const data = await response.json();
                let subscriptions = data.subscriptions || [];
                const subscriptionButton = document.getElementById('subscribeButton');

                if (!subscriptions.includes(channel)) {
                    const subResponse = await fetch('/api/subscribe', {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ channel })
                    });

                    const subData = await subResponse.json();
                    console.log(subData.message);
                    client.subscribe(notificationTopic);
                    subscriptions.push(channel);
                    subscriptionButton.innerText = 'Unsubscribe from Entertainment';
                } else {
                    const unsubResponse = await fetch('/api/unsubscribe', {
                        method: 'POST',
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ channel })
                    });

                    const unsubData = await unsubResponse.json();
                    console.log(unsubData.message);
                    client.unsubscribe(notificationTopic);
                    subscriptions = subscriptions.filter(sub => sub !== channel);
                    subscriptionButton.innerText = 'Subscribe to Entertainment';
                }

                user.subscriptions = subscriptions;
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function updateSubscriptionButton(channel) {
            const subscriptionButton = document.getElementById('subscribeButton');
            if (user && user.subscriptions.includes(channel)) {
                subscriptionButton.innerText = `Unsubscribe from ${channel}`;
            } else {
                subscriptionButton.innerText = `Subscribe to ${channel}`;
            }
        }
    </script>
</body>
</html>