<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <style>
        .hidden {
            display: none;
        }

    </style>
</head>
<body>
    <header>
        <h1>Main Page</h1>
    </header>
    <nav>
        <button onclick="window.location.href='/sport'">Sport</button>
        <button onclick="window.location.href='/technology'">Technology</button>
        <button onclick="window.location.href='/health'">Health</button>
        <button onclick="window.location.href='/entertainment'">Entertainment</button>
    </nav>
    <main>
        <div id="welcomeMessage"></div>
        <div>
            <input id="searchInput" placeholder="Browse articles"/>
            <button onclick="searchArticles()">Search</button>
        </div>
        <div>
            <button id="loginButton" onclick="window.location.href='/login'">Log in</button>
            <button id="signinButton" onclick="window.location.href='/signin'">Sign in</button>
            <button id="logoutButton" onclick="logout()" class="hidden">Log out</button>
            <button id="accountButton" onclick="window.location.href='/account'" class="hidden">Your account</button>
            <button id="createArticleButton" onclick="window.location.href='/create_article'" class="hidden">Create article</button>
        </div>
        <div id="articles"></div>
        <div id="messages"></div>
    </main>

    <script>
        const client = new Paho.MQTT.Client('broker.hivemq.com', 8000, 'clientId-' + Math.random().toString(16).substr(2, 8));
        let username = 'Anonymous User';
        let user = null;

        client.connect({
            onSuccess: function() {
                console.log('Connected to MQTT broker');
                subscribeToUserTopics();
            },
            onFailure: function (error) {
                console.error('Connection failed:', error);
            }
        });

        client.onMessageArrived = function(message) {
            const messageDiv = document.getElementById('messages');
            const msgElement = document.createElement('div');
            msgElement.classList.add('message');
            msgElement.innerHTML = `<p>${message.payloadString}</p>`;
            messageDiv.appendChild(msgElement);

            setTimeout(() => {
                messageDiv.removeChild(msgElement);
            }, 10000); 
        };

        document.addEventListener('DOMContentLoaded', function() {
            const token = localStorage.getItem('token');
            if (token) {
                fetch('/api/user', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.username) {
                        user = data;
                        username = data.username;
                        console.log('Username set to:', username);
                        document.getElementById('welcomeMessage').innerText = `Welcome, ${data.username}!`;
                        document.getElementById('loginButton').classList.add('hidden');
                        document.getElementById('signinButton').classList.add('hidden');
                        document.getElementById('logoutButton').classList.remove('hidden');
                        document.getElementById('accountButton').classList.remove('hidden');
                        document.getElementById('createArticleButton').classList.remove('hidden');
                        subscribeToUserTopics();
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });

        function subscribeToUserTopics() {
            fetch('/api/subscriptions', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem('token')}`
                }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (Array.isArray(data.subscriptions)) {
                    data.subscriptions.forEach(channel => {
                        client.subscribe(`projektProtokoly/notifications/${channel}`);
                        console.log(`Subscribed to ${channel}`);
                    });
                } else {
                    console.error('Subscriptions data is not an array:', data.subscriptions);
                }
            })
            .catch(error => console.error('Error:', error));
        }


        function searchArticles() {
            const query = document.getElementById('searchInput').value;
            fetch(`/api/search?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    const articlesDiv = document.getElementById('articles');
                    articlesDiv.innerHTML = '';
                    data.forEach(article => {
                        const articleElement = document.createElement('div');
                        articleElement.innerHTML = `<h2>${article.title}</h2><p>${article.content}</p>`;
                        articlesDiv.appendChild(articleElement);
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        // Logout user and clear token
        function logout() {
            localStorage.removeItem('token');
            window.location.href = '/';
        }
    </script>
</body>
</html>
